#u2270
{
	background-color: #4E5F00;
}

#u2225,#u2276
{
	background-color: transparent;
}

#u2223,#u2274
{
	display: block;
}

#u5351
{
	border-width: 0px;
	border-color: transparent;
	background-color: #F59231;
}

#u5351_align_to_page
{
	max-width: 470px;
}

#u5353-4
{
	display: block;
	vertical-align: top;
}

#u5354,#u5352
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}


