.MenuItem
{
	cursor: pointer;
}

@media (min-width: 471px)
{
	#u997
	{
		background-color: #F59231;
	}

	#u997:active
	{
		background-color: #FFFFFF;
	}

	#u1294-3
	{
		background-color: #576426;
	}

	#menuu223,#u1605
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u232
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u272
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u406,#u1604,#u231,#u269,#u311
	{
		background-color: transparent;
	}

	#u314
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1607-4_clip,#u235-4_clip,#u274-4_clip,#u316-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u404,#u1607-4_img,#u235-4_img,#u274-4_img,#u316-4_img
	{
		display: block;
	}

	#u931,#u935
	{
		background-color: #4E5F00;
	}

	#u4848
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #F59231;
	}

	#u3175-4_img,#u914-4,#u919-4,#u925-4,#u5060-4
	{
		display: block;
		vertical-align: top;
	}

	#u5221,#u5207
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}
}

@media (min-width: 321px) and (max-width: 470px)
{
	#u8506:active #u8507
	{
		background: url("../images/u8507-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8629:active #u8630
	{
		background: url("../images/u8630-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8513:active #u8515
	{
		background: url("../images/u8515-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8580:active #u8583
	{
		background: url("../images/u8583-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8008
	{
		display: block;
	}

	#buttonu8350
	{
		border-width: 0px;
		background-color: #4E5F00;
	}

	#u8370
	{
		background-color: #FFFFFF;
	}

	#u8365
	{
		background-color: #FFFFFF;
	}

	#u8388
	{
		background-color: #FFFFFF;
	}

	#u8418
	{
		border-width: 0px;
		background-color: #576426;
	}

	#u8007,#u8510,#u8513
	{
		background-color: transparent;
	}

	#u8513:hover
	{
		background-color: #999999;
	}

	#u8513:active
	{
		background-color: transparent;
	}

	#u8515
	{
		vertical-align: top;
		background: url("../images/u8515.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8503,#u8506
	{
		background-color: transparent;
	}

	#u8513.MuseMenuActive,#u8506:hover
	{
		background-color: #999999;
	}

	#u8506:active
	{
		background-color: transparent;
	}

	#u8507
	{
		vertical-align: top;
		background: url("../images/u8507.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8577,#u8580
	{
		background-color: transparent;
	}

	#u8506.MuseMenuActive,#u8580:hover
	{
		background-color: #999999;
	}

	#u8580:active
	{
		background-color: transparent;
	}

	#u8583
	{
		vertical-align: top;
		background: url("../images/u8583.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8628,#u8629
	{
		background-color: transparent;
	}

	#u8580.MuseMenuActive,#u8629:hover
	{
		background-color: #999999;
	}

	#u8629:active
	{
		background-color: transparent;
	}

	#u8629.MuseMenuActive
	{
		background-color: #999999;
	}

	#u8630
	{
		vertical-align: top;
		background: url("../images/u8630.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8677
	{
		background-color: #F38119;
		border-radius: 15px;
	}

	#u8677:active
	{
		background-color: transparent;
	}

	#u8415,#u8411
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u8411:active
	{
		background-color: #576426;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u8000
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #F59231;
	}

	#u8000_align_to_page
	{
		max-width: 470px;
	}

	#u8678-4,#u8497-4,#u8002-4
	{
		display: block;
		vertical-align: top;
	}

	#menuu8502,#u8003,#u8001
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

}

@media (max-width: 320px)
{
	#u8580:active #u8583
	{
		background: url("../images/u8583-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8629:active #u8630
	{
		background: url("../images/u8630-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8506:active #u8507
	{
		background: url("../images/u8507-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8513:active #u8515
	{
		background: url("../images/u8515-m.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#menuu223,#u1605
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u232
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u272
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u314
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1607-4_clip,#u235-4_clip,#u274-4_clip,#u316-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u997
	{
		background-color: #F59231;
	}

	#u931,#u935
	{
		background-color: #4E5F00;
	}

	#buttonu8350
	{
		border-width: 0px;
		background-color: #4E5F00;
	}

	#u997:active,#u8365
	{
		background-color: #FFFFFF;
	}

	#u8370
	{
		background-color: #FFFFFF;
	}

	#u8388
	{
		background-color: #FFFFFF;
	}

	#u8418
	{
		border-width: 0px;
		background-color: #576426;
	}

	#u1604,#u231,#u269,#u311,#u8007,#u8510,#u8513
	{
		background-color: transparent;
	}

	#u8513:hover
	{
		background-color: #999999;
	}

	#u8513:active
	{
		background-color: transparent;
	}

	#u8515
	{
		vertical-align: top;
		background: url("../images/u8515.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8503,#u8506
	{
		background-color: transparent;
	}

	#u8513.MuseMenuActive,#u8506:hover
	{
		background-color: #999999;
	}

	#u8506:active
	{
		background-color: transparent;
	}

	#u8507
	{
		vertical-align: top;
		background: url("../images/u8507.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8577,#u8580
	{
		background-color: transparent;
	}

	#u8506.MuseMenuActive,#u8580:hover
	{
		background-color: #999999;
	}

	#u8580:active
	{
		background-color: transparent;
	}

	#u8583
	{
		vertical-align: top;
		background: url("../images/u8583.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8628,#u8629
	{
		background-color: transparent;
	}

	#u8580.MuseMenuActive,#u8629:hover
	{
		background-color: #999999;
	}

	#u8629:active
	{
		background-color: transparent;
	}

	#u8629.MuseMenuActive
	{
		background-color: #999999;
	}

	#u8630
	{
		vertical-align: top;
		background: url("../images/u8630.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u8677
	{
		background-color: #F38119;
		border-radius: 15px;
	}

	#u8415,#u8411
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1294-3,#u8411:active
	{
		background-color: #576426;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u8677:active,#u406
	{
		background-color: transparent;
	}

	#u1607-4_img,#u235-4_img,#u274-4_img,#u316-4_img,#u8008,#u404
	{
		display: block;
	}

	#u4848,#u8000
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #F59231;
	}

	#u8000_align_to_page
	{
		max-width: 470px;
	}

	#u914-4,#u919-4,#u925-4,#u3175-4_img,#u8678-4,#u8497-4,#u5060-4,#u8002-4
	{
		display: block;
		vertical-align: top;
	}

	#menuu8502,#u5207,#u5221,#u8003,#u8001
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

}

