	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 484.53200000000004px;
		padding-top: 7px;
		padding-bottom: 8.467999999999961px;
		max-width: 1024px;
	}

	#u406
	{
		z-index: 71;
		position: relative;
		margin-right: -10000px;
		width: 35.36%;
		left: 2.35%;
	}

	#u404
	{
		z-index: 72;
		margin-bottom: 0.2762430939226519%;
		width: 100%;
	}

	#ppu997
	{
		margin-right: -10000px;
		margin-top: 27px;
		width: 60.55%;
		margin-left: 39.46%;
	}

	#u997
	{
		z-index: 5;
		padding-bottom: 5px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 26.94%;
		left: 73.07%;
	}

	#u997:active
	{
		min-height: 0px;
		width: 26.94%;
		margin: 1px -10000px 0px 0%;
	}

	#u3175-4
	{
		z-index: 23;
		position: relative;
		margin-right: -10000px;
		margin-top: 7px;
		width: 79.05%;
		left: 6.59%;
	}

	#u1294-3
	{
		z-index: 6;
		min-height: 33px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 73.07%;
	}

	#menuu223
	{
		z-index: 27;
		position: relative;
		margin-right: -10000px;
		width: 68.07%;
		left: 2.59%;
	}

	#u1604
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 24.65%;
	}

	#u1605
	{
		padding-bottom: 17px;
		position: relative;
		width: 100%;
	}

	#u231
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 24.65%;
		left: 25.12%;
	}

	#u232
	{
		padding-bottom: 17px;
		position: relative;
		width: 100%;
	}

	#u269
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 24.65%;
		left: 50.24%;
	}

	#u272
	{
		padding-bottom: 17px;
		position: relative;
		width: 100%;
	}

	#u311
	{
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		width: 24.65%;
		left: 75.36%;
	}

	#u314
	{
		padding-bottom: 17px;
		position: relative;
		width: 100%;
	}

	#u1605.MuseMenuActive,#u232.MuseMenuActive,#u272.MuseMenuActive,#u314.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u1607-4_clip,#u235-4_clip,#u274-4_clip,#u316-4_clip
	{
		height: 17px;
		width: 100%;
	}

	#u1607-4,#u235-4,#u274-4,#u316-4
	{
		position: relative;
		margin-right: -10000px;
		top: 8px;
		width: 100%;
	}

	#pu914-4
	{
		margin-top: 13px;
		width: 85%;
		margin-left: 6.94%;
	}

	#u914-4
	{
		z-index: 11;
		position: relative;
		margin-right: -10000px;
		width: 24.67%;
	}

	#u931
	{
		z-index: 9;
		height: 23px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 0.38%;
		left: 31.5%;
	}

	#u919-4
	{
		z-index: 15;
		position: relative;
		margin-right: -10000px;
		width: 24.67%;
		left: 38.15%;
	}

	#u935
	{
		z-index: 10;
		height: 23px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		width: 0.38%;
		left: 69.64%;
	}

	#u925-4
	{
		z-index: 19;
		position: relative;
		margin-right: -10000px;
		width: 24.67%;
		left: 75.34%;
	}

	#pu4451
	{
		margin-top: 26px;
		width: 100%;
	}

	#u4451
	{
		z-index: 4;
		height: 18px;
		-pie-box-shadow: 0px 7px 15px #FBEFE5;
		box-shadow: 0px 7px 15px rgba(217,95,0,0.1);
		border-width: 0px;
		border-color: transparent;
		background-color: #F59231;
	}

	#u4451-bw
	{
		z-index: 4;
		margin-top: 30px;
		height: 18px;
	}

	#u4218
	{
		z-index: 61;
		background-color: #F59231;
		border-radius: 25px 25px 0px 0px ;
		padding-bottom: 8px;
		position: relative;
		margin-right: -10000px;
		width: 39.95%;
		left: 29.99%;
	}

	#u4219-4
	{
		z-index: 63;
		display: block;
		vertical-align: top;
		position: relative;
		margin-right: -10000px;
		margin-top: 9px;
		width: 79.22%;
		left: 11.25%;
	}

	#u4215-4
	{
		z-index: 57;
		display: block;
		vertical-align: top;
		margin-top: 41px;
		position: relative;
		width: 83.21%;
		margin-left: 8.4%;
	}

	#u4457
	{
		z-index: 62;
		background-color: #576426;
		border-radius: 15px;
		padding-bottom: 8px;
		margin-top: 33px;
		position: relative;
		width: 17.88%;
		margin-left: 41.31%;
	}

	#u4460-4
	{
		z-index: 67;
		display: block;
		vertical-align: top;
		position: relative;
		margin-right: -10000px;
		margin-top: 9px;
		width: 88.53%;
		left: 6.02%;
	}

	#u4848
	{
		z-index: 2;
		height: 4px;
	}

	#u4848-bw
	{
		z-index: 2;
		margin-top: 67px;
		height: 4px;
	}

	#pu5060-4
	{
		margin-top: 17px;
		width: 100%;
	}

	#u5060-4
	{
		z-index: 52;
		position: relative;
		margin-right: -10000px;
		width: 19.93%;
		left: 2.35%;
	}

	#u5221
	{
		z-index: 56;
		width: 220px;
		min-height: 24px;
		position: relative;
		margin-right: -10000px;
		left: 65.63%;
	}

	#u5207
	{
		z-index: 3;
		width: 140px;
		min-height: 33px;
		position: relative;
		margin-right: -10000px;
		left: 88.77%;
	}

	#pu406,#pu997,#u3175-4_img,#u1607-4_img,#u235-4_img,#u274-4_img,#u316-4_img
	{
		width: 100%;
	}

